@charset "utf-8";

.main_page {
    width: 100%;
    height: 100vh;
    justify-content: space-between;
}

.main_head {
    padding: 8% 4.5% 0;
}

.main_head div {
    border-bottom: 1px solid #D6D6D6;
    padding: 0 3% 6%;
    align-items: center;
    justify-content: space-between;
}

.main_head div .main_about {
    position: relative;
    text-transform: uppercase;
    font-size: 0.1rem;
    color:var(--sub-color);
    border: 1px solid #D6D6D6;
    border-radius: 30px;
    padding: 3px 18px 3px 10px;
    line-height: 100%;
}

.main_head div .main_about::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%; bottom: 50%;
    transform: translate(0, -50%);
    width: 6px;
    height: 9px;
    background: url(./images/arrow2.png) no-repeat center center;
}

.main_head h6 {
    display: block;
    word-break: break-word;
    padding: 3% 3%;
}

.main_head img {
    width: 45%;
}


/* menu */

.main_menu {
    height: 70%;
    padding: 2% 4%;
    gap: 7%;
    justify-content: center;
}

.main_menu span {
    font-size: var(--list-font);
}

.main_menu span h5 {
    color: #797979;
}
.main_menu span h2 {
    color: #3D3D3D;
}

.main_menu h2 {
    text-align: left;
}

.main_menu div {
    gap: 10px;
}

.main_menu div ul {
    gap: 10px;
    width: 100%;
    height: 25vh;
}

.main_menu div ul li a {
    display: block;
}

.main_menu div ul li {
    width: 100%;
    height: 100%;
    border-radius: 30px;
}

.main_menu div ul li a {
    display: block;
    width: 100%;
    height: 100%;
}

.main_menu div .main_1 li:first-child {
    background: url(./images/main_1.jpg) no-repeat center center / cover;
    overflow: hidden;
}

.main_menu div .main_1 li:first-child a {
    background: url(./images/impaper.svg) no-repeat center bottom 10% / contain;
    background-size: 70%;
}

.main_menu div .main_1 li:last-child {
    background: url(./images/main_2.jpg) no-repeat center center / cover;
    overflow: hidden;
}

.main_menu div .main_1 li:last-child  a {
    background: url(./images/immono.svg) no-repeat center bottom 10% / contain;
    background-size: 70%;
}

.main_menu div span{
    position: relative;
    padding-left: 15px;
}

.main_menu div:first-child span::after {
    content: "";
    position: absolute;
    left: 0; top: 2px;
    background-color: #D6D6D6;
    width: 4px;
    height: 90%;
}

.main_menu div:last-child span::after {
    content: "";
    position: absolute;
    left: 0; top: 2px;
    background-color: #70A4C5;
    width: 4px;
    height: 90%;
}


.main_menu div .main_2 {
    height: 18vh;
}

.main_menu div .main_2 li {
    background: url(./images/main_3.jpg) no-repeat center center / cover;
}

.main_menu div .main_2 li a {
    background: url(./images/coffilm.svg) no-repeat right 10% bottom 15% / contain;
    background-size: 45%;
}

footer {
    width: 100%;
    height: 70px;
    text-align: center;
    color:#a5a5a5;
    margin: 0 auto;
    text-transform: uppercase;
    justify-content: center;
}

@media (min-width: 620px) {
    .main_menu ul {
        left: 0; right: 0;

    }
}