@charset "utf-8";

body {
  background-color: #ffffff;
}

h3, h4 {
  color: var(--sub-color);
  text-align: center;
}
h2 {
  font-weight: 900;
}

#tab-menu {
  width: 100%;
  position: absolute;
  top: 60px;
}
#tab-btn {
  z-index: 99;
  border-radius: 20px;
}
#tab-btn ul {
  margin: 15px auto;
  overflow: hidden;
  padding: 0;
  width: 86%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
}
#tab-btn li {
  width: 100%; text-align: center;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 800;
}
#tab-btn li::marker {
  content: "";
}
#tab-btn li a {
  display: block; color: #000000; 
  padding: 7px 15px; 
  font-weight: bold;
  background-color: #F7F8F5;
  border-radius: 10px;
}
#tab-btn li.active a {
  color: #fff;
  background-color: var(--back-color);
  position: relative;
  border-radius: 10px;
}
#tab-cont {
  width: 100%;
  /* padding: 0 3%; */
  box-sizing: border-box;
}

.cof_rel {
  width: 100%; 
  text-align: center;
  padding: 20px 0;
  gap: 15px;
}

.cof_rel table {
  width: 86%;
  background-color: #F7F8F5;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 14px;
}

.cof_rel table th {
  color:var(--sub-color);
  font-weight: 900;
}

.cof_rel span h4 {
  font-weight: 900;
}
.cof_rel span h2 {
  margin-bottom: 10px;
}

.eximg {
  border-radius: 0 30px 30px 0;
  padding: 0;
  width: 100%;
  height: 300px;
}
.slide_ex1 {
  background: url(../images/zip_0.jpg) no-repeat 50% 60% / cover;
  background-size: 140%;
}
.slide_ex2 {
  background: url(../images/box_0.jpg) no-repeat 30% 45% / cover;
  background-size: 130%;
}

.slide_ex3 {
  background: url(../images/m_0.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}

.slide_ex4 {
  background: url(../images/m2.1_0.jpg) no-repeat 35% 60% / cover;
  background-size: 140%;
}

.sec4 .biodegradable {
  width: 86%;
  margin: 15px auto;
  gap: 20px;
}

.sec4 .biodegradable div{
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  gap: 5px;
}

.sec4 .biodegradable div img {
  width: 100%;
  border-radius: 30px;
}

.sec4 .biodegradable div h3 {
  color:#626262;  
}

.sec4 .biodegradable div p {
  word-break: break-all;
  font-size: var(--list-font);
}


@media (min-width: 620px) {
  #tab-btn li a {
    padding: 10px 15px;
    
  }
  .cof_rel table {
      padding: 15px 180px;
      font-size: 15px;
  }
  .sec4 .biodegradable {
    margin: 15px auto 25px;
  }
  .sec4 .biodegradable div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }
}