@charset "utf-8";

.main_image {
    background: url(../images/coffilm_main_mob.jpg) no-repeat 40% / cover;
    background-size: 130%;
}

.logo {
    background: url(../images/logo_w.svg) no-repeat center center / contain;
}

.sec1 {
    gap: 15px;
    flex-direction: column;
    align-items: center;
}

.sec1 ul li {
    font-size: var(--main-font);
}

.sec1 .info_button {
    position: relative;
    width: 100px;
    display: block;
    text-align: center;
    padding: 8px 20px 8px 15px;
    color: #000000;
    border: 1px solid var(--sub-color);
    transition: 0.3s;
    z-index: 0;
}

.sec1 .info_button:hover {
    color:#fff;
    background-color: var(--sub-color);
    border-radius: 30px;
}

.sec1 .info_button::after {
    content: "";
    position: absolute;
    right: 8px;
    top: 50%; bottom: 50%;
    transform: translate(0, -50%);
    display: inline-block;
    width: 10px;
    height: 11px;
    background: url(../images/arrow2.png) no-repeat center center;
}

.sec1 .info_button:hover::after {
    background: url(../images/arrow2-1.png) no-repeat center center;
}

.sec2 {
    gap: 20px;
    align-items: center;
    flex-direction: column;
}

.sec2 img {
    width: 12px;
    padding: 5px 0 0;
}

.sec2 div:first-child ul {
    border: 1px solid #9DB509;
    border-radius: 10px;
    padding: 20px;
    font-size: 13px;
}

.sec2 div:first-child h3 {
    color: #fff;
    text-shadow: -1px 0px #9DB509, 0px 1px #9DB509, 1px 0px #9DB509, 0px -1px #9DB509;
    margin-bottom: 10px;
}

.sec2 div:last-child h3 {
    margin-bottom: 10px;
}

.sec2 div:last-child {
    padding: 0 20px;
}

.sec2 div h3 span {
    color:#9DB509;
    font-weight: 800;
}

.sec3 div {
    background-color: #F7F8F5;
    border-radius: 10px;
    padding: 15px 20px 20px;
    gap: 15px;
}

.sec3 div h2 {
    color: #9DB509;
}

.sec3 div ul:first-child li {
    text-align: center;
}

@media (min-width: 620px) {

    #tab-btn li a {
        padding: 10px 0;
        font-size: 15px;
    }
    .sec1, .sec2 {
        flex-direction: row;
        justify-content: space-evenly;
    }
    /* .sec1 .info_button {
        margin-right: 60px;
    } */
    .sec2 {
        gap: 20px;
    }
    .sec2 img {
        width: 2%;
        padding: 0;
        padding-right: 30px;
        transform:rotate(-90deg);
    }
    .sec2 div ul {
        padding: 0;
        margin: 0 auto;
    }
    .sec2 div:first-child {
        width: 47%;
    }
    .sec2 div:first-child ul {
        padding: 15px;
    }
    .sec2 div:last-child {
        width: 50%;
        padding: 0;
    }
    .sec2 div:last-child ul {
        padding: 15px;
    }

    .sec3 div ul {
        margin: 0 auto;
    }
}