@charset "utf-8";

body {
  background-color: #ffffff;
}

h3, h4 {
  color: var(--sub-color);
  text-align: center;
}
h2 {
  font-weight: 900;
}

#tab-menu {
  width: 100%;
  position: absolute;
  top: 60px;
}
#tab-btn {
  z-index: 5;
  border-radius: 20px;
}
#tab-btn ul {
  margin: 15px auto;
  overflow: hidden;
  padding: 0;
  width: 86%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 2px;
}
#tab-btn li {
  width: 100%; text-align: center;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 800;
}
#tab-btn li::marker {
  content: "";
}
#tab-btn li a {
  display: block; color: #000000; 
  padding: 7px 15px; 
  font-weight: bold;
  background-color: #F7F8F5;
  border-radius: 10px;
}
#tab-btn li.active a {
  color: #fff;
  background-color: var(--back-color);
  position: relative;
  border-radius: 10px;
}
#tab-cont {
  width: 100%;
  /* padding: 0 3%; */
  box-sizing: border-box;
}

.info_rel {
  width: 100%; 
  text-align: center;
  padding: 20px 0;
  gap: 15px;
}
.info_rel table {
  width: 86%;
  background-color: #F7F8F5;
  padding: 5px 20px;
  border-radius: 10px;
  margin: 0 auto;
  font-size: 14px;
}
.info_rel table th {
  color:var(--sub-color);
  font-weight: 900;
}
.info_rel span h4 {
  font-weight: 900;
}
.info_rel span h2 {
  margin-bottom: 10px;
}


.sec1 #slide > .slider-container > .slider > span:nth-child(1) {
  display: block;
  width: 100%;
  background: url(../images/cof_zip_1.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}

.sec1 #slide > .slider-container > .slider > span:nth-child(2) {
  display: block;
  width: 100%;
  background: url(../images/cof_zip_2.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}

.sec1 #slide > .slider-container > .slider > span:nth-child(3) {
  display: block;
  width: 100%;
  background: url(../images/cof_zip_2.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}


.sec2 #slide > .slider-container > .slider > span:nth-child(1) {
  display: block;
  width: 100%;
  background: url(../images/cof_box_1.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}

.sec2 #slide > .slider-container > .slider > span:nth-child(2) {
  display: block;
  width: 100%;
  background: url(../images/cof_box_2.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}

.sec2 #slide > .slider-container > .slider > span:nth-child(3) {
  display: block;
  width: 100%;
  background: url(../images/cof_box_3.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}


.sec3 #slide > .slider-container > .slider > span:nth-child(1) {
  display: block;
  width: 100%;
  background: url(../images/cof_m_1.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}

.sec3 #slide > .slider-container > .slider > span:nth-child(2) {
  display: block;
  width: 100%;
  background: url(../images/cof_m_2.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}

.sec3 #slide > .slider-container > .slider > span:nth-child(3) {
  display: block;
  width: 100%;
  background: url(../images/cof_m_3.jpg) no-repeat 50% 60% / cover;
  background-size: 120%;
}

.sec4 #slide > .slider-container > .slider > span:nth-child(1) {
  display: block;
  width: 100%;
  background: url(../images/cof_) no-repeat 50% 60% / cover;
  background-size: 120%;
}



@media (min-width: 620px) {
  #tab-btn ul {
    gap: 8px;
  }

  #tab-btn li a {
    padding: 10px 15px;
    
  }
  .info_rel table {
      padding: 15px 180px;
      font-size: 15px;
  }
  .sec4 .biodegradable {
    margin: 15px auto 25px;
  }
  .sec4 .biodegradable div {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  .eximg {
    margin: 0 auto;
    border-radius: 30px;
    padding: 0;
    width: 86%;
    height: 350px;
  }
}